:root {
    --black: #000;
    --bg-color: #1b1b1b;
    --font-color: #fffff7;
    --primary-color: #ef4130;
}

@font-face {
    font-family: proxima-nova;
    src: url(../public/fonts/Proxima\ Nova\ Font.otf);
 }

html, nav, .nextui-grid-container {
    color: var(--font-color) !important;
    background-color: var(--bg-color) !important;
}

#__next {
    background: var(--black);
}

main {
    max-width: 1700px !important;
    background: var(--bg-color);
    padding-left: 10rem;
    padding-right: 10rem;
}

.nextui-navbar{
    box-shadow: none !important;
    z-index: 201 !important;
}

.nextui-navbar-container {
    height: 150px !important;
    max-width: 1700px !important;
    background: var(--bg-color) !important;
    border-bottom: none !important;
    padding: 20px 40px 10px !important;
}

.nextui-navbar-collapse, .nextui-navbar-collapse-wrapper {
    padding-top: 70px;
    background-color: var(--bg-color) !important;
}

.nextui-badge {
    background-color: var(--bg-color) !important;
}

h1, h2, h3, h4, h5, p, label {
    color: var(--font-color) !important;
    letter-spacing: normal !important;
}

.form-checkbox {
    color: var(--primary-color) !important;
}

mux-uploader {
    --uploader-font-family: "proxima-nova";
    --button-background-color: var(--primary-color);
    --button-border: 0;
    --progress-bar-fill-color: var(--primary-color);
}

.selected-lesson, .select-lesson:hover  {
    background-color: var(--primary-color);
}

.selected-lesson span, .select-lesson span {
    color: var(--font-color) !important;
}